 p{
            font-family: Arial;
            margin-top:0px;
            margin-bottom: 0px;
        }
        .info{
            font-family: Arial;
            font-size: 30px;
            font-weight: bold;
            font-style: italic;
            width: 400px;
            line-height: 30px;
            margin-bottom: 5px;
            margin-top: 20px;
        }
        .view{
            font-family: Arial;
            font-size: 20px;
            margin-top: 25px;
            color: rgb(96,96,96);
            margin-top: 0px;
        }
        .name{
            font-family: Arial;
            font-size: 20px;
            color: rgb(96,96,96);
            margin-top: 20px;
        }
        .join{
            margin-top: 100px;
            font-size: 20px;
            background-color:rgb(185, 46, 46);
            color: white;
            text-align: center;
            padding-top: 18px;
            padding-bottom: 18px;
        }
        .Span-example{
            color: white;
        }
        .Span-example:hover{
            text-decoration: underline;
        }