*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body{
    font-family: 'Public Pixel', sans-serif;
    display:flex;
    justify-content: center;
    align-items: center;      
    background-image: url("pic1.jpeg");    
    background-size: cover;   /* scale image to cover entire div */
  background-repeat: no-repeat; /* prevent repeating */
  background-position: center;   /* center the image */                             
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    flex-direction: column;
    margin: 20px 20px;
    padding-top: 10px;
    padding-bottom: 20px;
    border: 2px solid black;
    box-sizing: border-box;
    border-radius: 20px;
    color: white;
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 10px  10px rgba(0, 0, 0, 0.1); 
}
p{
    margin-top: 20px;
    margin-bottom: 20px;
}
button{
    border: 2px solid black;
    border-radius: 50%;
    background-color: rgb(245, 245, 245);
}
.buttons{
    display: flex;
    gap: 40px;
    margin-top: 20px;
}
button:hover{
    opacity: 0.4;
}
#progress{
    width: 340px;
    height: 7px;
}

#music-image{
    width: 360px;
    height: 400px;
    object-fit: cover;
}
#volume{
   margin-top:20px;
   width:100px;
}