body{
    background-image: url("download\ \(3\).jpeg");
    background-size: 500px;
    text-align: center;
    background-blend-mode: lighten;
    font-family:'Chocolate Covered Raindrops Bol', sans-serif;
}
#title{
    margin-top: 100px;
    line-height: 10px;
    font-size: 50px;
}
#subtitle{
    opacity: 0.7;
    font-size: 50px;
    margin-bottom: 30px;
}
#calendarcontainer{
    display: flex;
    justify-content: center;
}
#calendardiv{
    background-color: white;
    text-align: center;
    align-content: center;
    border-radius:10px 10px 20px 20px;
    width: 85%;
    margin: auto ;
}
#calendarheading{
    display: flex;
    justify-content: space-between;
    border-radius: 10px 10px 0px 0px;
    border: 2px solid black;
    background-color: pink;
    font-size: 20px;
    line-height: 0px;
    padding: 0px 20px;
}
#calendarcontent{
    border: 2px solid black;
    padding: 20px;
}
#tracker{
    display: flex;
    justify-content:center ;
}
.day{
    width: 30px;
    height: 30px;
    margin: 8px;
    padding: 5px;
    font-size:15px;
    text-align:center;
    align-content: center;
    border-radius: 40px;
    border: 2px solid black;
    background-color: pink;
}
#reset{
    background-color: pink;
    border: 2px solid black;
    box-shadow: 5px 5px 20px 5px lightpink;
    padding: 10px 10px 10px 10px;
    font-size: 25px;
    font-family:'Chocolate Covered Raindrops Bol', sans-serif;
    border-radius: 20px;
}