*{
    font-family: 'Thumbellia', sans-serif;
    font-size: 40px;
    margin: 0px;
    box-sizing: border-box;                                            
}
body{
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    background:  linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)),url("pretty.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: lighten;
    background-position: center;
}
.container{
    display: flex;
    border: 2px solid black;
    padding: 40px 30px;
    flex-direction: column;
    background-color:rgb(247, 242, 242,0.6);
    border-radius: 30px;
    border: none;
    align-items: center;
    text-align: center;
}
.header{
    font-size: 80px;
    color: rgb(216, 179, 207);
}
hr{
    width: 100%;
    height: 5px;
}
.buttonwrapper{
    display: flex;
    gap: 10px;
}
.timer{
    font-size: 90px;
    font-weight: bold;
    letter-spacing: 7px;
}
button{
    color: rgb(101, 83, 104);
    padding-right: 5px;
    padding-left: 5px;
    border-radius: 10px;
    background-color: rgb(225, 207, 185,0.4);
    border: 2px solid rgb(192, 192, 161);
}
button:hover{
    opacity: 0.4;
}
button:active{
    color: white;
    background-color: rgb(123, 109, 87);
}